<header class="header-container">
  <div class="logo-container">
    <a href="/">
      <img src="./LOGO MYRS.A.S-Photoroom.png" alt="Montacargas y Repuestos S.A.S" class="logo">
    </a>
    <div class="whatsapp-icon">
      <a href="https://wa.me/3176465312" target="_blank">
        <img src="./whats.png" alt="WhatsApp" class="whatsapp">
      </a>
    </div>
  </div>

  <!-- Loading State for Manufacturers -->
  <nav *ngIf="manufacturers.length === 0" class="navigation loading-state">
    <div class="spinner"></div>
    <p>Cargando fabricantes...</p>

  </nav>

  <!-- Manufacturers Navigation -->
  <nav *ngIf="manufacturers.length > 0" class="navigation">
    <ul class="nav-list">
      <li *ngFor="let manufacturer of manufacturers">
        <a
          (click)="selectManufacturer(manufacturer)"
          [routerLink]="['/catalog']"
          [class.active]="selectedManufacturer?.id === manufacturer.id"
        >
          {{ manufacturer.name.toUpperCase() }}
        </a>
      </li>
    </ul>
  </nav>
</header>
