<!-- header.component.html -->
<header class="header-container">
  <div class="logo-container">
    <a href="/">
      <img src="./LOGO MYRS.A.S-Photoroom.png" alt="Montacargas y Repuestos S.A.S" class="logo">
    </a>
    <div class="whatsapp-icon">
      <a href="https://wa.me/3176465312" target="_blank">
        <img src="./whats.png" alt="WhatsApp" class="whatsapp">
      </a>
    </div>
  </div>

  <!-- Loading State for Navigation -->
  <nav *ngIf="navItems.length === 0" class="navigation loading-state">
    <div class="spinner"></div>
    <p>Cargando navegación...</p>
  </nav>

  <!-- Navigation -->
  <nav *ngIf="navItems.length > 0" class="navigation">
    <ul class="nav-list">
      <li *ngFor="let item of navItems">
        <a [routerLink]="item.link" routerLinkActive="active">{{ item.name }}</a>
      </li>
    </ul>
  </nav>
</header>
