<div class="catalog-container">
  <div class="catalog-header">
    <h2>Catálogo de Repuestos</h2>

    <div class="active-filters" *ngIf="selectedCategoryId || selectedSubcategory || selectedManufacturerId">
      <button class="clear-filters-btn" (click)="clearFilters()">
        Limpiar filtros
      </button>
      <span>Filtros activos:</span>
      <div class="filter-tags">
        <div class="filter-tag" *ngIf="selectedCategoryId">
          Categoría: {{ categoryNames[selectedCategoryId] }}
        </div>
        <div class="filter-tag" *ngIf="selectedSubcategory">
          Subcategoría: {{ selectedSubcategoryName }}
        </div>
        <div class="filter-tag" *ngIf="selectedManufacturerId">
          Fabricante: {{ manufacturerNames[selectedManufacturerId] }}
        </div>
      </div>
    </div>
  </div>

  <div class="products-grid">
    <div class="product-card" *ngFor="let product of products" [routerLink]="['/product', product.id_repuesto]" style="cursor: pointer;">
      <div class="product-image">
        <img [src]="product.imagen_url" [alt]="product.nombre" >

      </div>
      <div class="product-info">
        <h3 class="product-title">{{ product.nombre }}</h3>
        <p class="product-reference">Ref: {{ product.str_referencia }}</p>
        <p class="product-price">${{ product.precio | number }}</p>
        <p class="product-stock" [class.in-stock]="product.stock > 0"
                               [class.out-of-stock]="product.stock <= 0">
          {{ product.stock > 0 ? 'En stock (' + product.stock + ')' : 'Agotado' }}
        </p>
        <div class="product-category">{{ product.categoria_nombre || categoryNames[product.id_categoria] }}</div>
        <div class="product-subcategory" *ngIf="product.id_subcategoria !== undefined && product.id_subcategoria !== null">
          {{ product.id_subcategoria }}
        </div>
        <div class="product-manufacturer">
          {{ product.fabricante_nombre || manufacturerNames[product.id_fabricante] }}
        </div>
      </div>
      <div class="product-actions">
        <button class="add-to-cart-btn" [disabled]="product.stock <= 0">
           Agregar al carrito
        </button>
      </div>
    </div>

    <div class="no-products" *ngIf="products.length === 0">
      <p>No se encontraron productos con los filtros seleccionados.</p>
      <button class="show-all-btn" (click)="clearFilters()">
        <i class="fas fa-sync-alt"></i> Mostrar todos los productos
      </button>
    </div>

    <app-pagination
    [totalItems]="totalItems"
    [itemsPerPage]="itemsPerPage"
    [currentPage]="currentPage"
    (pageChange)="onPageChange($event)"
    *ngIf="totalItems > itemsPerPage">
  </app-pagination>
  </div>
</div>
