<!-- product-list.component.html -->
<!-- <div class="products-grid">
  <div class="product-card" *ngFor="let product of products">
    <div class="product-image">
      <img [src]="product.image" [alt]="product.name">
    </div>
    <div class="product-info">
      <h3>{{ product.name }}</h3>
      <p class="price">{{ product.price | currency:'COP':'symbol-narrow':'.0-0' }}</p>
      <button class="favorite-btn" (click)="addToFavorites(product.id)">
        <i class="fa fa-heart-o"></i>
      </button>
    </div>
  </div>
</div> -->
