
<footer class="footer-container">
  <div class="footer-content">
    <div class="footer-logo">
      <div class="social-media-icons">
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-youtube"></i></a>
        <a href="#"><i class="fab fa-linkedin"></i></a>
      </div>
      <img src="./LOGO MYRS.A.S-Photoroom.png" alt="Logo MONTACARGAS Y REPUESTOS S.A.S.">
    </div>
    <div class="footer-section">
      <h3 class="section-title">CONTACTATE CON NOSOTROS</h3>
      <p>Dirección: Calle 92 N° 83 - 20</p>
      <p>Email: todonisanycat&#64;hotmail.com</p>
      <p>Celular: +57 3176465312</p>
    </div>
    <div class="footer-section">
      <h3 class="section-title">INFORMACIÓN</h3>
      <ul>
        <li><a  href="#" (click)="openTermsModal($event)">Términos y condiciones</a></li>
        <li><a  href="#" (click)="openAboutUs($event)">Sobre Nosotros</a></li>
      </ul>
    </div>
    <div class="footer-section">
      <h3 class="section-title">NOVEDADES</h3>
      <ul>
        <li><a  href="https://wa.me/3176465312" target="_blank">Contacte con nosotros</a></li>
        <li><a href="#" (click)="openMapModal($event)">Mapa del sitio</a></li>
      </ul>
    </div>
  </div>
  <div class="footer-bottom">
    <p>© Copyright 2025 MONTACARGAS Y REPUESTOS S.A.S. All Rights Reserved.</p>
  </div>
</footer>

<app-terms-modal
  [isOpen]="isTermsModalOpen"
  (closeModal)="closeTermsModal()"
></app-terms-modal>

<app-about-us-modal
  [isOpen]="isAboutUsOpen"
  (closeModal)="closeAboutUs()">
</app-about-us-modal>

<app-map-modal
  [isOpen]="isMapModalOpen"
  (closeModal)="closeMapModal()">
</app-map-modal>
